<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>嘉義大飯店，嘉義最優質的住宿</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

        <link href={{ url_for('static', filename='css/bootstrap.min.css') }} rel="stylesheet">

        <link href={{ url_for('static', filename='css/bootstrap-icons.css') }} rel="stylesheet">

        <link href={{ url_for('static', filename='css/templatemo-tiya-golf-club.css') }} rel="stylesheet">
        
<!--

TemplateMo 587 Tiya Golf Club

https://templatemo.com/tm-587-tiya-golf-club

-->
    </head>
    
    <body>

        <main>

            <nav class="navbar navbar-expand-lg">                
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home') }}">
                        <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="80" height="80">
                        <span class="navbar-brand-text">
                            Chiayi
                            <small>The Most Luxurious Hotel</small>
                        </span>
                    </a>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">主頁</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">關於我們</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">加入會員</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_4">評價最高</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('room.search_rooms') }}">查看房間</a>
                            </li>
                        </ul>

                        <div class="d-none d-lg-block ms-lg-3">
                            <a class="btn custom-btn custom-border-btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                            {% if session.get('user_name') %}
                                {{ session.user_name }}
                            {% else %}
                                會員登入
                            {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">                
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">會員登入</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                
                <!-- 側邊欄或導覽列 -->
                <div class="offcanvas-body d-flex flex-column">

                    {% if session.user_name %}
                        <p class="text-white">歡迎，{{ session.user_name }}</p>
                        <ul>
                            <li><a href="{{ url_for('auth.profile') }}">選購清單</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                        </ul>
                    {% else %}
                        <!-- 登入表單 -->
                        <form id="login-form" class="custom-form member-login-form" method="post">
                        <div class="member-login-form-body">
                            <div class="mb-4">
                                <label class="form-label mb-2" for="member-login-number">帳號</label>
                                <input type="text" name="account" id="member-login-number" class="form-control" placeholder="Account" required>
                            </div>

                            <div class="mb-4">
                                <label class="form-label mb-2" for="member-login-password">密碼</label>
                                <input type="password" name="password" id="member-login-password" class="form-control" placeholder="Password" required>
                            </div>

                            <button type="submit" class="form-control">Login</button>
                        </div>
                    </form>

                    <script>
                    document.getElementById('login-form').addEventListener('submit', function(e) {
                        e.preventDefault();  // 阻止預設送出行為

                        const formData = new FormData(this);

                        fetch('/auth/login', {
                            method: 'POST',
                            body: formData
                        })
                        .then(res => res.json())
                        .then(data => {
                            if (data.status === 'success') {
                                location.reload();
                            } else {
                                alert('登入失敗，請確認帳號密碼');
                            }
                        })
                        .catch(error => {
                            console.error('登入錯誤:', error);
                            alert('登入過程發生錯誤');
                        });
                    });
                    </script>

                    {% endif %}

                </div>


                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
            </div>
            

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

                <div class="section-overlay"></div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                            <h2 class="text-white">歡迎光臨嘉義大飯店</h2>

                            <h1 class="cd-headline rotate-1 text-white mb-4 pb-2">
                                <span>我們有許多</span>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">舒適</b>
                                    <b>高級</b>
                                    <b>視野好</b>
                                </span>
                                <br>
                                <span>的房間供您選擇</span>
                            </h1>

                            <div class="custom-btn-group">
                                <a href="#section_2" class="btn custom-btn smoothscroll me-3">開店故事</a>

                                <a href="#section_3" class="link smoothscroll">加入會員即刻訂房!</a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="350" src="https://www.youtube.com/embed/UB7iEWBqC40" title="嘉義大飯店" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
            </section>


            <section class="about-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-lg-5 mb-4">關於嘉義大飯店</h2>
                        </div>

                        <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0">
                            <h3 class="mb-3">歷史起源</h3>

                            <p><strong>於1984開店至今</strong>, 負責人歐家寶獨自維護飯店的整潔，大家都叫他槌子大爺，到飯店看到辛苦的歐嘉寶記得大喊我愛槌子大爺即可享有訂房優惠.</p>

                            <p>最近他請了許多員工幫忙分別為吉伊、小八、兔兔、大耳狗、大展鴻圖、嘉義大學的嘉寶、小狗、小貓當店員，減輕店長的壓力.</p>
                        </div>
                        
                        
                        <div class="col-lg-6 col-md-6 col-6 mb-4 mb-lg-0 mb-md-0">
                            <div class="member-block">
                                <div class="member-block-image-wrap">
                                    <img src="{{ url_for('static', filename='images/history.jpg') }}" style="height: 500px;" alt="歷史圖片">
                                </div>
                            </div>
                        </div>
                        

                        

                    </div>
                </div>
            </section>

            <section class="membership-section section-padding" id="section_3">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center mx-auto mb-lg-5 mb-4">
                            <h2><span>會員註冊</span></h2>
                        </div>

                        <div class="col-lg-5 col-12 mx-auto">
                        <h4 class="mb-4 pb-lg-2">加入會員即刻訂房!</h4>
                            <form id="register-form" class="custom-form membership-form shadow-lg" role="form">
                            <h4 class="text-white mb-4">會員註冊</h4>

                            <div class="form-floating">
                                <input type="text" name="user_name" class="form-control" placeholder="Full Name" required>
                                <label>姓名</label>
                            </div>

                            <div class="form-floating">
                                <input type="text" name="account" class="form-control" placeholder="account" required>
                                <label>帳號</label>
                            </div>

                            <div class="form-floating">
                                <input type="password" name="password" class="form-control" placeholder="password" required>
                                <label>密碼</label>
                            </div>

                            <button type="submit" class="form-control">註冊</button>
                        </form>

                        <script>
                        document.getElementById('register-form').addEventListener('submit', function(e) {
                            e.preventDefault();  // 阻止表單預設跳轉行為

                            const formData = new FormData(this);

                            fetch('/auth/register', {
                                method: 'POST',
                                body: formData
                            })
                            .then(res => res.text())
                            .then(result => {
                                if (result === 'success') {
                                    alert('註冊成功！請前往登入');
                                } else {
                                    alert('註冊失敗，帳號已存在');
                                }
                            });
                        });
                        </script>

                        </div>

                    </div>
                </div>
            </section>


            <section class="events-section section-bg section-padding" id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <h2 class="mb-lg-3">評價最高</h2>
                        </div>

                            <div class="row align-items-center">
                                <!-- 左邊圖片 -->
                                <div class="col-lg-3 col-md-4 col-12">
                                    <div class="member-block-image-wrap">
                                        <img src="{{ url_for('static', filename='images/room_10.jpg') }}"
                                             class="img-fluid rounded"
                                             style="width: 100%; height: 100%; object-fit: cover;"
                                             alt="歷史圖片">
                                    </div>
                                </div>

                                <!-- 右邊文字 -->
                                <div class="col-lg-9 col-md-8 col-12">
                                    <div class="custom-block-info mt-2 mt-lg-0">
                                        <p class="events-title mb-3">超值四人房</p>
                                        <p class="mb-0">適合全家大小住的房間，附早餐.</p>

                                        <div class="d-flex flex-wrap border-top mt-4 pt-3">
                                            <div class="mb-4 mb-lg-0">
                                                <div class="d-flex flex-wrap align-items-center">
                                                    <span class="custom-block-span">價格:</span>
                                                    <p class="mb-0 ms-2">$4500</p>
                                                </div>
                                            </div>

                                            <div class="d-flex align-items-center ms-lg-auto">
                                                <a href="{{ url_for('room.search_rooms') }}?room_type=4" class="btn custom-btn">即刻訂房</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <br>
                        <br>
                        
                        <div class="row align-items-center p-3" style="background-color: white; border-radius: 15px; min-height: 300px;">
     
                        <!-- 左邊圖片 -->
                        <div class="col-lg-3 col-md-4 col-12">
                            <div class="member-block-image-wrap">
                                <img src="{{ url_for('static', filename='images/room_4.jpg') }}"
                                     class="img-fluid rounded"
                                     style="width: 100%; height: 100%; object-fit: cover;"
                                     alt="歷史圖片">
                            </div>
                        </div>

                        <!-- 右邊文字 -->
                        <div class="col-lg-9 col-md-8 col-12">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="events-title mb-3">經濟雙人房</p>
                                <p class="mb-0">適合朋友一起住的房間，附早餐.</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">
                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center">
                                            <span class="custom-block-span">價格:</span>
                                            <p class="mb-0 ms-2">$2500</p>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center ms-lg-auto">
                                        <a href="{{ url_for('room.search_rooms') }}?room_type=2" class="btn custom-btn">即刻訂房</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    </div>
                </div>
            </section>

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-5 ms-auto">
                        <br>
                        <br>
                        <h5 class="site-footer-title mb-4">歡迎在以下時間詢問我們</h5>

                        <p class="d-flex border-bottom pb-3 mb-3 me-lg-3">
                            <span>Mon-Fri</span>
                            6:00 AM - 6:00 PM
                        </p>

                        <p class="d-flex me-lg-3">
                            <span>Sat-Sun</span>
                            6:30 AM - 8:30 PM
                        </p>
                        <br>
                        <br>
                        
                    </div>

                        <div class="col-lg-2 col-12">
                            <ul class="social-icon mt-lg-5 mt-3 mb-4">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-instagram"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-whatsapp"></a>
                                </li>
                            </ul>
                            
                        </div>

                </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#81B29A" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
        </footer>


        <!-- JAVASCRIPT FILES -->
        <script src={{ url_for('static', filename='js/jquery.min.js') }}></script>
        <script src={{ url_for('static', filename='js/bootstrap.bundle.min.js') }}></script>
        <script src={{ url_for('static', filename='js/jquery.sticky.js') }}></script>
        <script src={{ url_for('static', filename='js/click-scroll.js') }}></script>
        <script src={{ url_for('static', filename='js/animated-headline.js') }}></script>
        <script src={{ url_for('static', filename='js/modernizr.js') }}></script>
        <script src={{ url_for('static', filename='js/custom.js') }}></script>
        
    </body>
</html>